<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
</head>

<body>
  <button class="btn bnt-primary" style="position: absolute; left: 36%;" (click)="navToList()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
    </svg>
  </button>
  <h1>Añade un partido</h1>
  <div class="card m-3">
    <h5 class="card-header">Añade un partido</h5>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-5 mb-3">
            <label class="form-label">IdLocal</label>
            <input type="text" class="form-control" #idLocal>
          </div>
          <div class="col-5 mb-3">
            <label class="form-label">IdVisitante</label>
            <input type="text" class="form-control" #idVisitante>
          </div>
          <div class="col-5 mb-3">
            <label class="form-label">Fecha del partido</label>
            <input type="text" class="form-control" #fecha />
          </div>

          <div class="col-5 mb-3">
            <button class="btn btn-primary" (click)="guardarPartido(idLocal.value,idVisitante.value,fecha.value)">Añadir
              Partido</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="card m-3">
    <h5 class="card-header">Añade los goles</h5>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-5 mb-3">
            <label class="form-label">IdParticipante</label>
            <input type="text" class="form-control" #idParticipante>
          </div>
          <div class="col-5 mb-3">
            <label class="form-label">Minuto</label>
            <input type="text" class="form-control" #minuto>
          </div>
          <div class="col-5 mb-3">
            <button class="btn btn-primary" (click)="agregarGol(idParticipante.value, minuto.value)"> Añadir
              Gol</button>

          </div>

        </div>
      </form>
    </div>
  </div>

  <ul *ngFor="let gol of goles">
    <ol>{{gol?.idParticipante}} {{gol?.minuto}}</ol>
  </ul>

  <div class="card m-3">
    <h5 class="card-header">Añade las tarjetas</h5>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-5 mb-3">
            <label class="form-label">IdParticipante</label>
            <input type="text" class="form-control" #idParticipanteTarj>
          </div>
          <div class="col-5 mb-3">
            <label class="form-label">Minuto</label>
            <input type="text" class="form-control" #minutoTarj>
          </div>

          <div class="col-5 mb-3">
            <label class="form-label">Tipo</label>
            <input type="text" class="form-control" #tipo>

          </div>
          <div class="col-5 mb-3">
            <button class="btn btn-primary"
              (click)="aniadirTarjeta(idParticipanteTarj.value,minutoTarj.value,tipo.value)">
              Añadir Tarjeta</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>